:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#drum-machine {
  background-color: gainsboro;
  border: 3px solid black;
  border-radius: 5px;
  padding: 2rem;
}
.pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 2em;
  line-height: 1.1;
}
#Dsc_Oh {
  background-image: url("../public/images/crash.png");
}
#Cev_H2 {
  background-image: url("../public/images/kick.png");
}
#Heater-1 {
  background-image: url("../public/images/snare.png");
}
#Heater-2 {
  background-image: url("../public/images/tom1.png");
}
#Heater-3 {
  background-image: url("../public/images/tom2.png");
}
#Heater-4 {
  background-image: url("../public/images/tom3.png");
}
#Heater-6 {
  background-image: url("../public/images/tom4.png");
}
#Kick_n_Hat {
  background-image: url("../public/images/snare.png");
}
#RP4_KICK {
  background-image: url("../public/images/tom1.png");
}
button {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
